/* GENERAL STYLING */
:root {
  --bg-color: #d8d9da;
  font-family: "Quicksand", sans-serif;
  color: #272829;
}

img,
picture,
video {
  max-width: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--bg-color);
  height: 100%;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: clamp(4rem, 5vw, 7rem);
  margin: 0;
  padding: 4rem;
}

h2 {
  font-size: clamp(1.1rem, 1vw, 10rem);
  font-weight: bold;
  margin-top: -2rem;
}

h3 {
  font-size: clamp(2rem, 1.5vw, 10rem);
  margin: 1.5rem;
}

h4 {
  font-size: clamp(1rem, 1vw, 7rem);
  margin: 1.5rem;
}

h5 {
  font-size: clamp(0.8rem, 0.7vw, 5rem);
  color: #61677a;
  margin: 1rem;
}

p {
  text-align: left;
  margin: 1.5rem;
  font-size: clamp(1.2rem, 0.9vw, 10rem);
}

a {
  text-decoration: none;
  color: white;
}

span {
  color: #61677a;
}

/* UTILITY */

.flex-x-centered {
  display: flex;
  justify-content: center;
}

.flex-y-centered {
  display: flex;
  align-items: center;
}

.flex-column-centered {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-container {
  display: grid;
  column-gap: 1rem;
  row-gap: 0rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  place-content: center;
  margin-top: 3rem;
  text-align: center;
}

/* NAVBAR SECTION */
#navbar {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 3rem;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: #61677a;
}

#navbar > ul {
  max-width: 100%;
  font-weight: bold;
  padding: 0;
  margin: 0;
  gap: clamp(2rem, 7vw, 10rem);
  list-style-type: none;
  color: white;
}

/* HERO SECTION */
#hero {
  height: 100%;
  margin-bottom: 4rem;
  text-align: center;
  border-bottom: #61677a solid;
  background-image: linear-gradient(white, #61677a);
}

#hero img {
  filter: grayscale(100%);
  padding: 0;
  margin-top: -3rem;
  margin-bottom: -0.4rem;
}

/* ABOUT SECTION */
/* desktop */
@media only screen and (min-width: 1200px) {
  #about {
    text-align: left;
    padding-left: 30%;
    padding-right: 30%;
    margin-bottom: 5rem;
  }
}

@media only screen and (max-width: 600px) {
  #about {
    text-align: left;
    padding-left: 10%;
    padding-right: 10%;
  }
}

/* WORK SECTION */
#work {
  text-align: left;
  padding-left: 30%;
  padding-right: 30%;
  margin-bottom: 5rem;
}

/* CERTIFICATIONS SECTION */
#certifications {
  text-align: left;
  padding-left: 30%;
  padding-right: 30%;
  margin-bottom: 5rem;
}

#certifications img {
  display: flex;
  justify-content: center;
  height: 3.5rem;
}

#certifications h4 {
  font-size: 1.4em;
}

/* LINK ICONS SECTION */
#link-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4rem;
  padding-left: 30%;
  padding-right: 30%;
  margin-bottom: 5rem;
}

#link-icons img {
  height: 2.5rem;
}

/* FOOTER SECTION */
footer {
  text-align: right;
  padding-left: 30%;
  padding-right: 30%;
  margin: 3rem;
}
